.dark-high-contrast {
  --md-sys-color-primary: 246 236 255;
  --md-sys-color-surface-tint: 211 187 253;
  --md-sys-color-on-primary: 0 0 0;
  --md-sys-color-primary-container: 207 184 248;
  --md-sys-color-on-primary-container: 18 0 48;
  --md-sys-color-secondary: 246 236 255;
  --md-sys-color-on-secondary: 0 0 0;
  --md-sys-color-secondary-container: 201 190 215;
  --md-sys-color-on-secondary-container: 14 8 25;
  --md-sys-color-tertiary: 255 235 238;
  --md-sys-color-on-tertiary: 0 0 0;
  --md-sys-color-tertiary-container: 236 180 193;
  --md-sys-color-on-tertiary-container: 29 2 11;
  --md-sys-color-error: 255 236 233;
  --md-sys-color-on-error: 0 0 0;
  --md-sys-color-error-container: 255 174 164;
  --md-sys-color-on-error-container: 34 0 1;
  --md-sys-color-background: 21 18 24;
  --md-sys-color-on-background: 231 224 232;
  --md-sys-color-surface: 21 18 24;
  --md-sys-color-on-surface: 255 255 255;
  --md-sys-color-surface-variant: 73 69 78;
  --md-sys-color-on-surface-variant: 255 255 255;
  --md-sys-color-outline: 245 237 249;
  --md-sys-color-outline-variant: 199 192 203;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 231 224 232;
  --md-sys-color-inverse-on-surface: 0 0 0;
  --md-sys-color-inverse-primary: 81 62 117;
  --md-sys-color-primary-fixed: 235 220 255;
  --md-sys-color-on-primary-fixed: 0 0 0;
  --md-sys-color-primary-fixed-dim: 211 187 253;
  --md-sys-color-on-primary-fixed-variant: 24 2 59;
  --md-sys-color-secondary-fixed: 234 222 248;
  --md-sys-color-on-secondary-fixed: 0 0 0;
  --md-sys-color-secondary-fixed-dim: 205 194 219;
  --md-sys-color-on-secondary-fixed-variant: 20 14 32;
  --md-sys-color-tertiary-fixed: 255 217 225;
  --md-sys-color-on-tertiary-fixed: 0 0 0;
  --md-sys-color-tertiary-fixed-dim: 241 183 196;
  --md-sys-color-on-tertiary-fixed-variant: 37 6 16;
  --md-sys-color-surface-dim: 21 18 24;
  --md-sys-color-surface-bright: 82 79 85;
  --md-sys-color-surface-container-lowest: 0 0 0;
  --md-sys-color-surface-container-low: 33 31 36;
  --md-sys-color-surface-container: 50 47 53;
  --md-sys-color-surface-container-high: 61 58 64;
  --md-sys-color-surface-container-highest: 73 69 76;
}