.dark-medium-contrast {
  --md-sys-color-primary: 230 213 255;
  --md-sys-color-surface-tint: 211 187 253;
  --md-sys-color-on-primary: 46 26 80;
  --md-sys-color-primary-container: 156 134 195;
  --md-sys-color-on-primary-container: 0 0 0;
  --md-sys-color-secondary: 227 216 241;
  --md-sys-color-on-secondary: 41 34 53;
  --md-sys-color-secondary-container: 150 141 164;
  --md-sys-color-on-secondary-container: 0 0 0;
  --md-sys-color-tertiary: 255 208 218;
  --md-sys-color-on-tertiary: 62 26 37;
  --md-sys-color-tertiary-container: 182 131 143;
  --md-sys-color-on-tertiary-container: 0 0 0;
  --md-sys-color-error: 255 210 204;
  --md-sys-color-on-error: 84 0 3;
  --md-sys-color-error-container: 255 84 73;
  --md-sys-color-on-error-container: 0 0 0;
  --md-sys-color-background: 21 18 24;
  --md-sys-color-on-background: 231 224 232;
  --md-sys-color-surface: 21 18 24;
  --md-sys-color-on-surface: 255 255 255;
  --md-sys-color-surface-variant: 73 69 78;
  --md-sys-color-on-surface-variant: 225 218 229;
  --md-sys-color-outline: 182 176 186;
  --md-sys-color-outline-variant: 148 142 152;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 231 224 232;
  --md-sys-color-inverse-on-surface: 44 41 47;
  --md-sys-color-inverse-primary: 81 62 117;
  --md-sys-color-primary-fixed: 235 220 255;
  --md-sys-color-on-primary-fixed: 24 2 59;
  --md-sys-color-primary-fixed-dim: 211 187 253;
  --md-sys-color-on-primary-fixed-variant: 63 44 98;
  --md-sys-color-secondary-fixed: 234 222 248;
  --md-sys-color-on-secondary-fixed: 20 14 32;
  --md-sys-color-secondary-fixed-dim: 205 194 219;
  --md-sys-color-on-secondary-fixed-variant: 58 51 70;
  --md-sys-color-tertiary-fixed: 255 217 225;
  --md-sys-color-on-tertiary-fixed: 37 6 16;
  --md-sys-color-tertiary-fixed-dim: 241 183 196;
  --md-sys-color-on-tertiary-fixed-variant: 81 42 53;
  --md-sys-color-surface-dim: 21 18 24;
  --md-sys-color-surface-bright: 70 67 74;
  --md-sys-color-surface-container-lowest: 8 7 11;
  --md-sys-color-surface-container-low: 31 29 34;
  --md-sys-color-surface-container: 41 39 45;
  --md-sys-color-surface-container-high: 52 49 55;
  --md-sys-color-surface-container-highest: 64 60 67;
}