.dark-medium-contrast {
  --md-sys-color-primary: 178 227 255;
  --md-sys-color-surface-tint: 141 207 242;
  --md-sys-color-on-primary: 0 41 57;
  --md-sys-color-primary-container: 86 153 185;
  --md-sys-color-on-primary-container: 0 0 0;
  --md-sys-color-secondary: 202 223 237;
  --md-sys-color-on-secondary: 20 40 50;
  --md-sys-color-secondary-container: 127 148 160;
  --md-sys-color-on-secondary-container: 0 0 0;
  --md-sys-color-tertiary: 222 216 255;
  --md-sys-color-on-tertiary: 37 34 65;
  --md-sys-color-tertiary-container: 146 140 178;
  --md-sys-color-on-tertiary-container: 0 0 0;
  --md-sys-color-error: 255 210 204;
  --md-sys-color-on-error: 84 0 3;
  --md-sys-color-error-container: 255 84 73;
  --md-sys-color-on-error-container: 0 0 0;
  --md-sys-color-background: 15 20 23;
  --md-sys-color-on-background: 223 227 231;
  --md-sys-color-surface: 15 20 23;
  --md-sys-color-on-surface: 255 255 255;
  --md-sys-color-surface-variant: 64 72 76;
  --md-sys-color-on-surface-variant: 214 221 227;
  --md-sys-color-outline: 171 179 184;
  --md-sys-color-outline-variant: 138 145 151;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 223 227 231;
  --md-sys-color-inverse-on-surface: 38 43 46;
  --md-sys-color-inverse-primary: 0 78 104;
  --md-sys-color-primary-fixed: 193 232 255;
  --md-sys-color-on-primary-fixed: 0 19 29;
  --md-sys-color-primary-fixed-dim: 141 207 242;
  --md-sys-color-on-primary-fixed-variant: 0 59 80;
  --md-sys-color-secondary-fixed: 209 230 243;
  --md-sys-color-on-secondary-fixed: 0 19 29;
  --md-sys-color-secondary-fixed-dim: 181 201 215;
  --md-sys-color-on-secondary-fixed-variant: 37 57 67;
  --md-sys-color-tertiary-fixed: 229 222 255;
  --md-sys-color-on-tertiary-fixed: 17 12 43;
  --md-sys-color-tertiary-fixed-dim: 200 194 234;
  --md-sys-color-on-tertiary-fixed-variant: 54 50 82;
  --md-sys-color-surface-dim: 15 20 23;
  --md-sys-color-surface-bright: 64 69 72;
  --md-sys-color-surface-container-lowest: 4 8 10;
  --md-sys-color-surface-container-low: 25 30 33;
  --md-sys-color-surface-container: 36 41 44;
  --md-sys-color-surface-container-high: 46 51 54;
  --md-sys-color-surface-container-highest: 57 62 66;
}
