.dark-high-contrast {
  --md-sys-color-primary: 224 243 255;
  --md-sys-color-surface-tint: 141 207 242;
  --md-sys-color-on-primary: 0 0 0;
  --md-sys-color-primary-container: 137 203 238;
  --md-sys-color-on-primary-container: 0 13 21;
  --md-sys-color-secondary: 224 243 255;
  --md-sys-color-on-secondary: 0 0 0;
  --md-sys-color-secondary-container: 177 198 211;
  --md-sys-color-on-secondary-container: 0 13 21;
  --md-sys-color-tertiary: 243 237 255;
  --md-sys-color-on-tertiary: 0 0 0;
  --md-sys-color-tertiary-container: 196 190 230;
  --md-sys-color-on-tertiary-container: 11 6 37;
  --md-sys-color-error: 255 236 233;
  --md-sys-color-on-error: 0 0 0;
  --md-sys-color-error-container: 255 174 164;
  --md-sys-color-on-error-container: 34 0 1;
  --md-sys-color-background: 15 20 23;
  --md-sys-color-on-background: 223 227 231;
  --md-sys-color-surface: 15 20 23;
  --md-sys-color-on-surface: 255 255 255;
  --md-sys-color-surface-variant: 64 72 76;
  --md-sys-color-on-surface-variant: 255 255 255;
  --md-sys-color-outline: 234 241 247;
  --md-sys-color-outline-variant: 188 196 201;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 223 227 231;
  --md-sys-color-inverse-on-surface: 0 0 0;
  --md-sys-color-inverse-primary: 0 78 104;
  --md-sys-color-primary-fixed: 193 232 255;
  --md-sys-color-on-primary-fixed: 0 0 0;
  --md-sys-color-primary-fixed-dim: 141 207 242;
  --md-sys-color-on-primary-fixed-variant: 0 19 29;
  --md-sys-color-secondary-fixed: 209 230 243;
  --md-sys-color-on-secondary-fixed: 0 0 0;
  --md-sys-color-secondary-fixed-dim: 181 201 215;
  --md-sys-color-on-secondary-fixed-variant: 0 19 29;
  --md-sys-color-tertiary-fixed: 229 222 255;
  --md-sys-color-on-tertiary-fixed: 0 0 0;
  --md-sys-color-tertiary-fixed-dim: 200 194 234;
  --md-sys-color-on-tertiary-fixed-variant: 17 12 43;
  --md-sys-color-surface-dim: 15 20 23;
  --md-sys-color-surface-bright: 76 81 84;
  --md-sys-color-surface-container-lowest: 0 0 0;
  --md-sys-color-surface-container-low: 27 32 35;
  --md-sys-color-surface-container: 44 49 52;
  --md-sys-color-surface-container-high: 55 60 63;
  --md-sys-color-surface-container-highest: 67 71 75;
}
