.light {
  --md-sys-color-primary: 24 101 132;
  --md-sys-color-surface-tint: 24 101 132;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 193 232 255;
  --md-sys-color-on-primary-container: 0 77 103;
  --md-sys-color-secondary: 77 97 108;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 209 230 243;
  --md-sys-color-on-secondary-container: 54 73 84;
  --md-sys-color-tertiary: 95 90 125;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 229 222 255;
  --md-sys-color-on-tertiary-container: 71 67 100;
  --md-sys-color-error: 186 26 26;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 255 218 214;
  --md-sys-color-on-error-container: 147 0 10;
  --md-sys-color-background: 246 250 254;
  --md-sys-color-on-background: 23 28 31;
  --md-sys-color-surface: 246 250 254;
  --md-sys-color-on-surface: 23 28 31;
  --md-sys-color-surface-variant: 220 227 233;
  --md-sys-color-on-surface-variant: 64 72 76;
  --md-sys-color-outline: 113 120 125;
  --md-sys-color-outline-variant: 192 199 205;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 44 49 52;
  --md-sys-color-inverse-on-surface: 237 241 245;
  --md-sys-color-inverse-primary: 141 207 242;
  --md-sys-color-primary-fixed: 193 232 255;
  --md-sys-color-on-primary-fixed: 0 30 43;
  --md-sys-color-primary-fixed-dim: 141 207 242;
  --md-sys-color-on-primary-fixed-variant: 0 77 103;
  --md-sys-color-secondary-fixed: 209 230 243;
  --md-sys-color-on-secondary-fixed: 9 30 39;
  --md-sys-color-secondary-fixed-dim: 181 201 215;
  --md-sys-color-on-secondary-fixed-variant: 54 73 84;
  --md-sys-color-tertiary-fixed: 229 222 255;
  --md-sys-color-on-tertiary-fixed: 27 23 54;
  --md-sys-color-tertiary-fixed-dim: 200 194 234;
  --md-sys-color-on-tertiary-fixed-variant: 71 67 100;
  --md-sys-color-surface-dim: 214 218 222;
  --md-sys-color-surface-bright: 246 250 254;
  --md-sys-color-surface-container-lowest: 255 255 255;
  --md-sys-color-surface-container-low: 240 244 248;
  --md-sys-color-surface-container: 234 238 242;
  --md-sys-color-surface-container-high: 229 233 237;
  --md-sys-color-surface-container-highest: 223 227 231;
}
