.light-medium-contrast {
  --md-sys-color-primary: 0 59 80;
  --md-sys-color-surface-tint: 24 101 132;
  --md-sys-color-on-primary: 255 255 255;
  --md-sys-color-primary-container: 45 116 148;
  --md-sys-color-on-primary-container: 255 255 255;
  --md-sys-color-secondary: 37 57 67;
  --md-sys-color-on-secondary: 255 255 255;
  --md-sys-color-secondary-container: 92 112 123;
  --md-sys-color-on-secondary-container: 255 255 255;
  --md-sys-color-tertiary: 54 50 82;
  --md-sys-color-on-tertiary: 255 255 255;
  --md-sys-color-tertiary-container: 110 105 140;
  --md-sys-color-on-tertiary-container: 255 255 255;
  --md-sys-color-error: 116 0 6;
  --md-sys-color-on-error: 255 255 255;
  --md-sys-color-error-container: 207 44 39;
  --md-sys-color-on-error-container: 255 255 255;
  --md-sys-color-background: 246 250 254;
  --md-sys-color-on-background: 23 28 31;
  --md-sys-color-surface: 246 250 254;
  --md-sys-color-on-surface: 13 18 21;
  --md-sys-color-surface-variant: 220 227 233;
  --md-sys-color-on-surface-variant: 48 55 60;
  --md-sys-color-outline: 76 83 88;
  --md-sys-color-outline-variant: 103 110 115;
  --md-sys-color-shadow: 0 0 0;
  --md-sys-color-scrim: 0 0 0;
  --md-sys-color-inverse-surface: 44 49 52;
  --md-sys-color-inverse-on-surface: 237 241 245;
  --md-sys-color-inverse-primary: 141 207 242;
  --md-sys-color-primary-fixed: 45 116 148;
  --md-sys-color-on-primary-fixed: 255 255 255;
  --md-sys-color-primary-fixed-dim: 1 92 122;
  --md-sys-color-on-primary-fixed-variant: 255 255 255;
  --md-sys-color-secondary-fixed: 92 112 123;
  --md-sys-color-on-secondary-fixed: 255 255 255;
  --md-sys-color-secondary-fixed-dim: 68 87 99;
  --md-sys-color-on-secondary-fixed-variant: 255 255 255;
  --md-sys-color-tertiary-fixed: 110 105 140;
  --md-sys-color-on-tertiary-fixed: 255 255 255;
  --md-sys-color-tertiary-fixed-dim: 85 81 115;
  --md-sys-color-on-tertiary-fixed-variant: 255 255 255;
  --md-sys-color-surface-dim: 195 199 203;
  --md-sys-color-surface-bright: 246 250 254;
  --md-sys-color-surface-container-lowest: 255 255 255;
  --md-sys-color-surface-container-low: 240 244 248;
  --md-sys-color-surface-container: 229 233 237;
  --md-sys-color-surface-container-high: 217 221 225;
  --md-sys-color-surface-container-highest: 206 210 214;
}
