@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'theme/dark-hc.css';
@import 'theme/dark-mc.css';
@import 'theme/dark.css';
@import 'theme/light-hc.css';
@import 'theme/light-mc.css';
@import 'theme/light.css';

.display-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 54pt;
    line-height: 64pt;
    letter-spacing: -0.25pt;
}

.display-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 42pt;
    line-height: 52pt;
    letter-spacing: 0pt;
}

.display-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 34pt;
    line-height: 44pt;
    letter-spacing: 0pt;
}

.headline-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30pt;
    line-height: 40pt;
    letter-spacing: 0pt;
}

.headline-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 26pt;
    line-height: 36pt;
    letter-spacing: 0pt;
}

.headline-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22pt;
    line-height: 32pt;
    letter-spacing: 0pt;
}

.title-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22pt;
    line-height: 28pt;
    letter-spacing: 0pt;
}

.title-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15pt;
    line-height: 24pt;
    letter-spacing: 0.15pt;
}

.title-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13pt;
    line-height: 20pt;
    letter-spacing: 0.1pt;
}

.body-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15pt;
    line-height: 24pt;
    letter-spacing: 0.5pt;
}

.body-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    line-height: 20pt;
    letter-spacing: 0.25pt;
}

.body-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 11pt;
    line-height: 16pt;
    letter-spacing: 0.4pt;
}

.label-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13pt;
    line-height: 20pt;
    letter-spacing: 0.1pt;
}

.label-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 11pt;
    line-height: 16pt;
    letter-spacing: 0.5pt;
}

.label-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10pt;
    line-height: 16pt;
    letter-spacing: 0.5pt;
}

.prominent-label-large {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14pt;
    line-height: 20pt;
    letter-spacing: 0.1pt;
}

.prominent-label-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12pt;
    line-height: 16pt;
    letter-spacing: 0.5pt;
}

.prominent-label-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 11pt;
    line-height: 16pt;
    letter-spacing: 0.5pt;
}